.todo-app__button {
    padding: 10px 20px;
    margin: 0 0 20px 0;
    border: none;
    background-color: greenyellow;
    color: white;
    cursor: grab;
}

.todo-app__button:hover {
    background-color: #33614C;
}
